/* UTILITY CLASSES */

.hidden {
    display: none;
}

/* NEWSPAPER CLASSES */

.newspaper, .newstory {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 800px;
    width: 1400px;
    border: 1px dotted black;
    font-family: 'Noticia Text', serif;
    padding: 25px;
    background: url(bg.jpg);
    color: rgba(0, 0, 0, 0.87);
    user-select: none;
}

header, section {
    display: flex;
    justify-content: space-between;
}

.main-header {
    font-size: 1.8em;
}

.date, .publisher {
    font-size: 1.2em;
    align-self: center;
    font-weight: bold;
}

.news {
    flex: 4;
}

.news-histories {
    overflow-y: auto;
    max-height: 550px;
}

.news-histories::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
}

.news-histories::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.news-story {
    text-align: justify;
}

.news-story h3 {
    display: inline-block;
    margin-top: 0;
}

.news p {
    margin-top: 0;
}

.news p, .news hr {
    margin-bottom: 1em;
    width: 95%;
    float: left;
}

.news hr {
    width: 97%;
}

.ad {
    flex: 1;
    padding-left: 20px;
    text-align: justify;
}

.ad img {
    width: 100%;
}

.ad caption {
    font-size: 0.6em;
}

/* WRITE NEWS (GOD MODE) */
.create-news-container form {
    display: flex;
    flex-direction: column;
}

.publish-button {
    padding: 10px 30px;
    width: 150px;
}

.create-news-container label {
    margin-bottom: 3px;
}

.create-news-container input, .create-news-container textarea {
    margin-bottom: 1em;
    padding: 5px;
}

.create-news-container input, .create-news-container textarea, .create-news-container label {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
}